## Step-1 Dataset 
Reading the datapoints X and Y from the github link

In [107]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Narmada-Ambigapathy/GetStartWith_MachineLearning/master/Datasets/Salary_Data.csv'
df = pd.read_csv(url, index_col=0)

                   Salary
YearsExperience
1.1               39343.0
1.3               46205.0
1.5               37731.0
2.0               43525.0
2.2               39891.0
2.9               56642.0
3.0               60150.0
3.2               54445.0
3.2               64445.0
3.7               57189.0
3.9               63218.0
4.0               55794.0
4.0               56957.0
4.1               57081.0
4.5               61111.0
4.9               67938.0
5.1               66029.0
5.3               83088.0
5.9               81363.0
6.0               93940.0
6.8               91738.0
7.1               98273.0
7.9              101302.0
8.2              113812.0
8.7              109431.0
9.0              105582.0
9.5              116969.0
9.6              112635.0
10.3             122391.0
10.5             121872.0